/* GENERAL SETTINGS */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    overflow: hidden;
}

ul {
    list-style: none;;
}

button {
    cursor: pointer;
}

i {
    padding-right: 10px;
}

h4,
h2 {
color: white;
}

span {
    font-weight: 400;
}

p {
    color: #6b6b6b;
}

/* HEADER SECTION */

header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: fixed;
    z-index: 997;
    background-color: #080b1296;
    width: 100%;
    padding: 10px;
}

.upgradebutton {
    border: solid white 2px;
    border-radius: 30px;
    padding: 5px;
    height: min-content;
    background-color: transparent;
    color: white;
    margin-right: 25px;
    transition: all 0.5s;
}

.upgradebutton:hover {
    transform: scale(1.2);
}

/* MAIN SECTION */

main {
    background-color: #141922;
    display: flex;
}


    /* SCROLLABLE SECTION*/

    .scrollable-container {
        max-height: 90vh;
        overflow-y: auto;
        margin: 6vh 1vw 10vh 16vw;
        padding: 5px;
        min-width: 83vw;
    }

    nav {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        margin-bottom: 3vh;
    }

    nav div {
        margin-right: 20px;
        color: #6b6b6b;
        padding: 5px;
    }

    nav div:hover {
        border-bottom: 2px solid #adff2f;
    }

    .sc-title {
        margin-bottom: 15px;
    }

    .recently-played-row,
    .created-for-row,
    .popular-artists-row {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 20px;
    }

    .recently-played-row div,
    .created-for-row div,
    .popular-artists-row div {
        margin: 10px;
        text-align: center;
        line-height: 25px;
        max-width: 180px;
        position: relative;
    }

    .recently-played-row div img,
    .created-for-row div img,
    .popular-artists-row div img {
        width: 180px;
        height: 180px;
        object-fit: cover;
    }

    .recently-played-row div i,
    .created-for-row div i {
        position: absolute;
        color: white;
        visibility: hidden;
        top: 19%;
        left: 33%;
        padding: 0;
    }

    .recently-played-row div:hover img,
    .created-for-row div:hover img,
    .recently-played-row div:hover i,
    .created-for-row div:hover i {
        filter: brightness(30%);
        visibility: visible;
    }

    .popular-artists-row div img {
        border-radius: 100%;
    }







    /* SIDE MENU SECTION */

    .sidemenucontainer {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: fixed;
        z-index: 998;
        width: 15vw;
        height: 90vh;
        background-color: black;
        color: white;
    }

    .sidemenu-up {
        display: flex;
        flex-direction: column;
        row-gap: 15px;
    }

    .small-logo {
        color: white;
    }

    .logo {
        padding-top: 15px;
    }

    .logo img {
        width: 80%;
        transition: all 0.5s;
    }

    .logo img:hover {
        transform: scale(0.8);
    }

    .sidemenu-up div {
        padding-left: 15px;
        color: #6b6b6b;
    }

    .sidemenu-up span:hover, 
    .sidemenu-up i:hover {
        cursor: pointer;
    }

    .sidemenu-up h3 {
        color: white;
    }

    .home:hover ,
    .search:hover ,
    .library:hover,
    .add-playlist:hover {
        color: white;
    }

    .greenborder {
        transition: all(0.5s);
    }

    .greenborder:hover {
        border-left: 2px solid #adff2f;
    }

    .add-playlist {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    

    .add-playlist i {
        color: black;
        padding: 10px;
        background-color: #a3a3a3;
        display: inline;
        margin-right: 15px;
    }


    .playlists ul{
        line-height: 35px;
        color: #6b6b6b;
    }

    .selectedplaylist:hover {
        color: white;
    }

    .sidemenu-down {
        display: flex;
        flex-direction: column;
        row-gap: 15px;
    }

    .sidemenu-down hr {
        width: 80%;
        border-color: #6b6b6b;
        margin-left: 15px;
    }

    .sidemenu-down div {
        padding-left: 15px;
    }

    .download-app span {
        color: #6b6b6b;
    }

    .download-app i {
        color: grey;
    }

    .user {
        padding-bottom: 15px;
    }

/* FOOTER SECTION */

    footer {
        display: flex;
        justify-content: space-between;
        position: fixed;
        z-index: 999;
        width: 100vw;
        min-height: 10vh;
        background-color: #282828;
        padding: 15px 10px;
        bottom: 0;
    }

    /* FOOTER LEFT SECTION */

    .sub-left {
        display: flex;
        align-items: center;
        width: 30%;
    }

    .sub-left i {
        color: #6b6b6b;
    }

    .album-cover-player {
        width: 60px;
        height: 60px;
        margin-right: 15px;
    }

    .sub-left-right {
        display: flex;
        align-items: center;
        margin-left: 15px;
    }

    /* FOOTER MIDDLE SECTION */

    .sub-middle {
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        width: 40%;
    }

    .sub-middle-top {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        color: white;
        height: 50%;
    }

    .sub-middle-top i {
        padding: 0;
    }

    .sub-middle-bottom {
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        height: 50%;
    }

    .playtimebar {
        min-width: 90%;
        margin: 15px 15px;
        height: 5px;
        border-radius: 30px;
        border: transparent;
        background-color: #6b6b6b;
    }

    .playtimebar-level {
        display: flex;
        width: 20%;
        height: 5px;
        border-radius: 30px;
        border: transparent;
        background-color: rgba(255, 255, 255, 0.63);
        justify-content: flex-end;
        align-items: center;
    }

    .playtime-cursor {
        width: 20px;
        height: 20px;
        border-radius: 100%;
        border: 5px solid #ffffffab;
        background-color: #adff2f;
        display: none;
    }

    .playtimebar:hover .playtime-cursor {
        display: inline;
    }

    /* FOOTER RIGHT SECTION */

    .sub-right {
        display: flex;
        justify-content: flex-end;
        color: white;
        align-items: center;
        width: 30%;
    }

    .volumebar {
        min-width: 50%;
        height: 5px;
        border-radius: 30px;
        border: transparent;
        background-color: #6b6b6b;
    }

    .volumebar-level {
        display: flex;
        width: 30%;
        height: 5px;
        border-radius: 30px;
        border: transparent;
        background-color: rgba(255, 255, 255, 0.63);
        justify-content: flex-end;
        align-items: center;
    }

    .volume-cursor {
        width: 20px;
        height: 20px;
        border-radius: 100%;
        border: 5px solid #ffffffab;
        background-color: #adff2f;
        display: none;
    }

    .volumebar:hover .volume-cursor {
        display: inline;
    }

/* RESPONSIVE SECTION */

@media screen and (max-width: 480px) { 

    /* SIDE MENU SECTION */

    .full-logo {
        display: none;
    }
    
    .sidemenucontainer span,
    .sidemenucontainer h3,
    .sidemenucontainer .fa-plus,
    .sidemenucontainer ul {
        display: none;
    }

    .sidemenu-down hr {
        display: none;
    }

    .fa-house,
    .fa-magnifying-glass,
    .fa-list-ul,
    .fa--circle-arrow-down,
    .fa-circle-user {
        transform: scale(1.5);
    }

    .sidemenu-up,
    .sidemenu-down {
        align-items: center;
    }

    .sub-left-right {
        flex-direction: column;
    }

    .sub-left,
    .sub-right {
        transform: scale(0.6);
    }

    .sub-middle {
        transform: scale(0.7);
    }

    footer {
        padding: 0;
    }

}

@media screen and (min-width: 481px) and (max-width: 920px) { 

    /* SIDE MENU SECTION */

    .small-logo {
        display: none;
    }

    .sidemenucontainer span,
    .sidemenucontainer h3,
    .sidemenucontainer .fa-plus,
    .sidemenucontainer ul {
        display: none;
    }

    .sidemenu-down hr {
        display: none;
    }

    .fa-house,
    .fa-magnifying-glass,
    .fa-list-ul,
    .fa--circle-arrow-down,
    .fa-circle-user {
        transform: scale(1.5);
    }

    .sidemenu-up,
    .sidemenu-down {
        align-items: center;
    }

    .sub-left-right {
        flex-direction: column;
    }

}

@media screen and (min-width: 921px) and (max-width: 1024px) { 

    /* SIDE MENU SECTION */

    .small-logo {
        display: none;
    }

    
}

@media screen and (min-width: 1025px) and (max-width: 1200px) { 

    /* SIDE MENU SECTION */

    .small-logo {
        display: none;
    }
}


@media screen and (min-width: 1201px) { 

    /* SIDE MENU SECTION */

    .small-logo {
        display: none;
    }
}
