/* GENERAL SETTINGS */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

ul {
    list-style: none;;
}

button {
    cursor: pointer;
}

i {
    padding-right: 10px;
}

h4 {
color: white;
}

span {
    font-weight: 400;
}

/* HEADER SECTION */

header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: fixed;
    z-index: 998;
    background-color: #080b1296;
    width: 100%;
    height: 5vh;
}

.upgradebutton {
    border: solid white 2px;
    border-radius: 30px;
    padding: 5px;
    height: min-content;
    background-color: transparent;
    color: white;
    margin-right: 25px;
    transition: all 0.5s;
}

.upgradebutton:hover {
    transform: scale(1.2);
}

/* MAIN SECTION */

main {
    background-color: #141922;
    height: 90vh;
}


    /* SIDE MENU SECTION */

    .sidemenucontainer {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: fixed;
        z-index: 999;
        width: 15vw;
        height: 90vh;
        background-color: black;
        color: white;
    }

    .sidemenu-up {
        display: flex;
        flex-direction: column;
        row-gap: 15px;
    }

    .small-logo {
        color: white;
    }

    .logo {
        padding-top: 15px;
    }

    .logo img {
        width: 80%;
        transition: all 0.5s;
    }

    .logo img:hover {
        transform: scale(0.8);
    }

    .sidemenu-up div {
        padding-left: 15px;
        color: #6b6b6b;
    }

    .sidemenu-up span:hover, 
    .sidemenu-up i:hover {
        cursor: pointer;
    }

    .sidemenu-up h3 {
        color: white;
    }

    .home:hover ,
    .search:hover ,
    .library:hover,
    .add-playlist:hover {
        color: white;
    }

    .greenborder {
        transition: all(0.5s);
    }

    .greenborder:hover {
        border-left: 2px solid #adff2f;
    }

    .add-playlist {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    

    .add-playlist i {
        color: black;
        padding: 10px;
        background-color: #a3a3a3;
        display: inline;
        margin-right: 15px;
    }


    .playlists ul{
        line-height: 35px;
        color: #6b6b6b;
    }

    .selectedplaylist:hover {
        color: white;
    }

    .sidemenu-down {
        display: flex;
        flex-direction: column;
        row-gap: 15px;
    }

    .sidemenu-down hr {
        width: 80%;
        border-color: #6b6b6b;
        margin-left: 15px;
    }

    .sidemenu-down div {
        padding-left: 15px;
    }

    .download-app span {
        color: #6b6b6b;
    }

    .download-app i {
        color: grey;
    }

    .user {
        padding-bottom: 15px;
    }



/* FOOTER SECTION */

    /* FOOTER LEFT SECTION */

    footer {
        display: flex;
        justify-content: space-between;
        position: fixed;
        z-index: 999;
        width: 100%;
        height: 10vh;
        background-color: #282828;
        padding: 15px;
    }

    .sub-left {
        display: flex;
        align-items: center;
        width: 33.3%;
    }

    .sub-left i,
    .sub-left p {
        color: #6b6b6b;
    }

    .album-cover-player {
        width: 60px;
        height: 60px;
        margin-right: 15px;
    }

    .sub-left-right {
        display: flex;
        align-items: center;
        margin-left: 15px;
    }

    /* FOOTER MIDDLE SECTION */

    .sub-middle {
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        width: 33.3%;
    }

    .sub-middle-top {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        color: white;
        height: 50%;
    }

    .sub-middle-top i {
        padding: 0;
    }

    .sub-middle-bottom {
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        height: 50%;
    }

    .playtimebar {
        width: 80%;
        margin: 15px 15px;
        height: 5px;
        border-radius: 30px;
        border: transparent;
        background-color: #6b6b6b;
    }

    .playtimebar-level {
        display: flex;
        width: 20%;
        height: 5px;
        border-radius: 30px;
        border: transparent;
        background-color: rgba(255, 255, 255, 0.63);
        justify-content: flex-end;
        align-items: center;
    }

    .playtime-cursor {
        width: 20px;
        height: 20px;
        border-radius: 100%;
        border: 5px solid #ffffffab;
        background-color: #adff2f;
        display: none;
    }

    .playtimebar:hover .playtime-cursor {
        display: inline;
    }

    /* FOOTER RIGHT SECTION */

    .sub-right {
        display: flex;
        justify-content: flex-end;
        color: white;
        width: 33.3%;
        align-items: center;
    }

    .volumebar {
        width: 20%;
        height: 5px;
        border-radius: 30px;
        border: transparent;
        background-color: #6b6b6b;
    }

    .volumebar-level {
        display: flex;
        width: 30%;
        height: 5px;
        border-radius: 30px;
        border: transparent;
        background-color: rgba(255, 255, 255, 0.63);
        justify-content: flex-end;
        align-items: center;
    }

    .volume-cursor {
        width: 20px;
        height: 20px;
        border-radius: 100%;
        border: 5px solid #ffffffab;
        background-color: #adff2f;
        display: none;
    }

    .volumebar:hover .volume-cursor {
        display: inline;
    }










/* RESPONSIVE SECTION */

@media screen and (max-width: 864px) { 

    /* SIDE MENU SECTION */

    .full-logo {
        display: none;
    }
    
    .sidemenucontainer span,
    .sidemenucontainer h3,
    .sidemenucontainer .fa-plus,
    .sidemenucontainer ul {
        display: none;
    }

    .sidemenu-down hr {
        display: none;
    }

    .fa-house,
    .fa-magnifying-glass,
    .fa-list-ul,
    .fa--circle-arrow-down,
    .fa-circle-user {
        transform: scale(1.5);
    }

    .sidemenu-up,
    .sidemenu-down {
        align-items: center;
    }

    .sub-left-right {
        flex-direction: column;
    }

}

@media screen and (min-width: 865px) and (max-width: 992px) { 

    /* SIDE MENU SECTION */

    .small-logo {
        display: none;
    }

}

@media screen and (min-width: 992px) and (max-width: 1199px) { 

    /* SIDE MENU SECTION */

    .small-logo {
        display: none;
    }
    
}

@media screen and (min-width: 1200px) { 

    /* SIDE MENU SECTION */

    .small-logo {
        display: none;
    }

}